<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!-- Custom CSS -->
{% load static %}

<link href="{% static 'css/base.css' %}" rel="stylesheet">
{% include 'navbar.html' %}
{% block content %}
    <div class="container text-center" style="margin-top: 10px">
    {% for release_name, issues in releases.items %}
        <p style="margin-top: 20px">
        <form action="{% url 'monitor:main-page' %}" method="POST">
        {% csrf_token %}
            <a>{{ release_name }}</a>
            <button type="submit" class="btn btn-outline-primary btn-sm" name="release_name" value="{{ release_name }}">Generate release report</button>
        </form>
        </p>
        <table border="1" align="center">
            <thead>
            <tr>
                <th>Issue</th>
                <th>Status</th>
            </tr>
            </thead>
            {% for issue, status in issues.items %}
                <tbody>
                <tr>
                    <td>{{ issue }}</td>
                    <td>{{ status }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>

    {% endfor %}
</div>




{% endblock %}
<script src="{% static 'js/base.js' %}"></script>


